.containerDate{
  padding:0 50px;
}
.date{
  display:flex;
}
.number{
  color:var(--morado) !important;
}
.date h1 {
  font-family: 'poppins-bold';
  color:#151515;
  font-size: 5em;
}

@media (max-width:420px){
  .date h1{
    font-size: 2.7em;
  }
}